<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmtc.dao.CardRecordDao" >
  <resultMap id="BaseResultMap" type="com.tmtc.po.CardRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="card_id" property="card_id" jdbcType="BIGINT" />
    <result column="is_use" property="is_use" jdbcType="INTEGER" />
    <result column="opt_time" property="opt_time" jdbcType="TIMESTAMP" />
    <result column="is_check" property="is_check" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, card_id, is_use, opt_time, is_check
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tmtc.po.CardRecordRepository" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_card_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="rowIndex!=null and pageSize!=null">
      limit ${rowIndex},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_card_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_card_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tmtc.po.CardRecordRepository" >
    delete from t_card_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tmtc.po.CardRecord" >
    insert into t_card_record (id, user_id, card_id, 
      is_use, opt_time, is_check
      )
    values (#{id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{card_id,jdbcType=BIGINT}, 
      #{is_use,jdbcType=INTEGER}, #{opt_time,jdbcType=TIMESTAMP}, #{is_check,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmtc.po.CardRecord" >
    insert into t_card_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="card_id != null" >
        card_id,
      </if>
      <if test="is_use != null" >
        is_use,
      </if>
      <if test="opt_time != null" >
        opt_time,
      </if>
      <if test="is_check != null" >
        is_check,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="card_id != null" >
        #{card_id,jdbcType=BIGINT},
      </if>
      <if test="is_use != null" >
        #{is_use,jdbcType=INTEGER},
      </if>
      <if test="opt_time != null" >
        #{opt_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_check != null" >
        #{is_check,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tmtc.po.CardRecordRepository" resultType="java.lang.Integer" >
    select count(*) from t_card_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_card_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.user_id != null" >
        user_id = #{record.user_id,jdbcType=BIGINT},
      </if>
      <if test="record.card_id != null" >
        card_id = #{record.card_id,jdbcType=BIGINT},
      </if>
      <if test="record.is_use != null" >
        is_use = #{record.is_use,jdbcType=INTEGER},
      </if>
      <if test="record.opt_time != null" >
        opt_time = #{record.opt_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_check != null" >
        is_check = #{record.is_check,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_card_record
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.user_id,jdbcType=BIGINT},
      card_id = #{record.card_id,jdbcType=BIGINT},
      is_use = #{record.is_use,jdbcType=INTEGER},
      opt_time = #{record.opt_time,jdbcType=TIMESTAMP},
      is_check = #{record.is_check,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmtc.po.CardRecord" >
    update t_card_record
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="card_id != null" >
        card_id = #{card_id,jdbcType=BIGINT},
      </if>
      <if test="is_use != null" >
        is_use = #{is_use,jdbcType=INTEGER},
      </if>
      <if test="opt_time != null" >
        opt_time = #{opt_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_check != null" >
        is_check = #{is_check,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmtc.po.CardRecord" >
    update t_card_record
    set user_id = #{user_id,jdbcType=BIGINT},
      card_id = #{card_id,jdbcType=BIGINT},
      is_use = #{is_use,jdbcType=INTEGER},
      opt_time = #{opt_time,jdbcType=TIMESTAMP},
      is_check = #{is_check,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>